body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
.first{
    display:flex;
    background: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.top{
    width: 50%;
    padding: 40px 40px;
}
.top img{
    width: 80%;
}
.color{color:#FFA032;
}
.first h1{font-size: 50px;}
.clik {
    text-decoration: none;
    color: white;
    background-image:linear-gradient(#e9ac05, #ff6347);
    padding: 10px 20px;
    border-radius: 5px;
}
